* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.search-city {
    margin-left: 0;
    position:absolute;
    /*padding: 10px 10px;*/
}

h1 {
    margin-left: 55%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

.container {
    padding: 10px 10px;
   
}

.city-input {
    max-width: 610px;
}

.row {
    padding: 0px 10px;
}

.btn {
    width:210px;
    padding: 10px;
}

.five-day {
    border-radius: 10px;
    background-color:aqua;
    color:black;

} 

.card-container {
    border-radius:10px;
    padding: 5px;
    display: inline;
   
}